.overflowy{
    overflow-y: scroll;
    max-height: 100px;
    min-height: 300px;
    overflow-x: hidden;
}

.floatright{
  float: right;
}

.pad{
  margin: 0px;
}

.padLR{
  margin: 0px 10px 0px 0px;
}

.clickable{
  cursor: pointer;
}

.height500{
  min-height: 400px;
}

body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
